@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem; /* Adjust the value as needed */
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  @apply text-4xl md:text-6xl font-bold;
}

@screen 2xl {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  @apply text-4xl md:text-5xl 2xl:text-6xl font-bold;
}

h3 {
  @apply text-xl md:text-2xl 2xl:text-3xl font-semibold;
}

h4 {
  @apply text-base 2xl:text-lg font-normal;
}
